---
layout: default
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
        <!--alle linken met de css-->
    <link rel="stylesheet" href="/assets/css/composition.css">
    <link rel="stylesheet" href="/assets/css/blocks.css">
    <link rel="stylesheet" href="/assets/css/utilities.css"> 
</head>
<body>
    <nav>
        <!--knop voor terug te keren indien je in de blogposts bent-->
    <a href="/" class="material-icons">
        keer terug
    </a>
</nav>
</body>
</html>



<article class="elevated-medium bg-complement">
    {{content}}
</article>