<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mijn Website</title>
    

</head>
<!--dit spreekt allemaal voor zich-->
<body>
   
    <div class="body-text"><h1>dit is de home page</h1></div>
    <header>
        <h1>{{page.title | capitalize}}</h1>
        <address class="author">Welkom op het project van <a href="#" rel="author">Matthias</a></address>
    </header>

    <main id="{{page.layout}}">
        {{content}}
    </main>

    <footer class="text-dominant">
        
       
    </footer>
</body>
</html>