---
layout: default
---

    <div>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=B612+Mono&family=Roboto&display=swap" rel="stylesheet">
            <!--links met de css-->
    <link rel="stylesheet" href="/assets/css/composition.css">
    <link rel="stylesheet" href="/assets/css/blocks.css">
    <link rel="stylesheet" href="/assets/css/utilities.css">
        <nav>
            <div class="menu">
                    
            </div>
            <ul class="nav-links">
                    <!--navigatie links op de balk bovenaan-->

                <li><a class='active' href="index.html">Home</a></li>
                <li><a class='active' href="snakegame/index.html">snakegame</a></li>
                <li><a class='active' href="index.html">blogposts</a></li>
    
                
    
            </ul>
    
    
        </nav>
        <section id="about" class="elevated-medium bg-complement">
            <img src="/assets/images/me.jpg" alt="{{post.title}} image" class="banner full-bleed">

            {{content}}

        </section>
            <!--iframe om de game op voor te stellen, helaas maakt het een loop 
            als je niet op anuleren drukt-->
        <iframe id="snake" src="../snakegame/index.html" width="100%" height="100%"></iframe>
        <section id="projects" class="elevated-medium bg-complement">
            <h2 class="bg-dominant">Mijn Projecten</h2>
            <ul>
                
            {% for project in site.projects %}
        
            <li>
                <a href="{{ project.url }}">
                    <img src="{{project.banner}}" alt="{{project.title}} image" class="banner">
                    <h3>{{ project.title }}</h3>
                </a>
            </li>
        
            {% endfor %}
                    
            </ul>
        </section>

    </div>

    <section id="blogposts">

        {% for post in site.posts %}
    
        <a href="{{ post.url }}">
            <article class="elevated-high bg-complement">
                <img src="{{post.banner}}" alt="{{post.title}} image" class="full-bleed | banner">
                <h1>{{ post.title }}</h1>
                <time datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date: "%-d-%m-'%y" }}</time>
                {{ post.excerpt }}
            </article>
        </a>
    
        {% endfor %}

    </section>