---
layout: default
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>


    <link rel="stylesheet" href="/assets/css/composition.css">
    <link rel="stylesheet" href="/assets/css/blocks.css">
    <link rel="stylesheet" href="/assets/css/utilities.css">


</head>
<body>
    <nav>
        <div class="menu">
                <h4>
                   
                </h4>
        </div>
        <ul class="nav-links">
            <li><a class='active' href="index.html">Home</a></li>
            <li><a class='active' href="snakegame/index.html">snakegame</a></li>
            <li><a class='active' href="voorpunten/WD2.html">superhero</a></li>
    
            
    
        </ul>
    
    
    </nav>
    
    
    
    <article class="elevated-medium bg-complement">
        {{content}}
    </article>
</body>
</html>
