---
layout: default
---

<nav>
    <div class="menu">
            <h4>
               
            </h4>
    </div>
    <ul class="nav-links">
        <li><a class='active' href="index.html">Home</a></li>
        <li><a class='active' href="index.html">test 2</a></li>
        <li><a class='active' href="index.html">test 3</a></li>

        

    </ul>


</nav>

div {
    width: 300px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
  }


<article class="elevated-medium bg-complement">
    {{content}}
</article>